pkgbase = rust-ananicy
	pkgdesc = Memory-safe auto nice daemon - 97% less memory usage than Python ananicy
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/journalehsan/rust-ananicy
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = rust
	makedepends = cargo
	depends = systemd
	depends = util-linux
	optdepends = ionice: I/O scheduling support
	optdepends = schedtool: CPU scheduler support
	optdepends = htop: system monitoring
	optdepends = btop: modern system monitoring
	provides = ananicy
	conflicts = ananicy
	conflicts = ananicy-cpp
	backup = etc/ananicy.d/ananicy.conf
	backup = etc/ananicy.d/00-types.types
	backup = etc/ananicy.d/00-default.cgroups
	source = rust-ananicy-1.0.0.tar.gz::https://github.com/journalehsan/rust-ananicy/archive/v1.0.0.tar.gz
	sha256sums = SKIP

pkgname = rust-ananicy